@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.body {
  margin: 0;
  overflow-x: hidden;
}

.main-page {
  background-image: linear-gradient(180deg, rgba(18,17,17,0) 0%, rgba(18,17,17,0.2) 88%),url("../public/bg.jpg");
  background-size: cover;
  width: screen;
  overflow-x: hidden;
  max-width: 100%;
}
.fleche-bout {
  transform: translateX(5px);
  fill: white;
}
.fleche-ligne {
  opacity: 0;
  fill: white;
  transform: translateX(-5px);
}
.fleche-bout,
.fleche-ligne,
.carte {
  transition: all 0.5s ease;
}
.carte:hover {
  transform: scale(1.05);
  cursor: pointer;
  .fleche-bout {
    transform: translateX(5px);
    fill: orange;
}
.fleche-ligne {
    fill: orange;
    opacity: 1;
    transform: translateX(0);
  }
}
.icon-image {
  height: 30px;
  width: 30px;
}

.icon-text {
  text-align: center;
  font-size: 18px;
  color: #3d585f;
}

.group-image {
  background-image: url("../public/photo_equipe_3.jpg");
  background-position: 0% 35%;
  background-size: cover;
}

.page-title-line {
  font-size: 40px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
  position: relative;
}

.page-title-line h2 {
  letter-spacing: 0px;
}

.liste-accueil {
  font-weight: 100;
  letter-spacing: 2px;
}
.liste-accueil li:not(:last-child) {
  margin-bottom: 12px;
}

.title {
  font-size: 60px;
  font-style: italic;
}

em {
  font-weight: bold;
  font-style: normal;
}

.contact-image {
  width: 55%;
  height: 100%;
  background-image: url("../public/footer.jpg");
  background-size: cover;
  overflow-x: hidden;
  background-position: 30% 35%;
}
@media (max-width: 768px) {
  .contact-image{
    background-image: none;
    width: 0%;
  }
  .fleche-bout{
    fill: orange;
  }
  .main-page{
    background-position-x: 60% ;
  }
}
.nav-item {
  width: 140px;
  text-align: center;
}

.selector {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #e6964b;
  left: -10px;
  opacity: 0;
  bottom: -10px;
  transition: all 0.4s ease;
}
.ex-titre{
  letter-spacing: 2px;
}
.card-shadow{
  -webkit-box-shadow: 5px 5px 32px 2px rgba(0,0,0,0.19); 
  box-shadow: 5px 5px 32px 2px rgba(0,0,0,0.19);
}
.lang-select{
  background-color: transparent;
}
.list-item:not(:first-of-type){
  padding-top: 20px;
}

.menu {
  position: absolute;
  width: 285px;
  border-radius: 0;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  margin-top: 25px;
  margin-left: -15px;
  border: 1px solid #EEEEEE;
}

.submenu-item{
  color: #3d585f;
  display: block;
}

.submenu-list,
.submenu-item {
  list-style: none;

}

.submenu-button {
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: auto;
  display: flex;
  align-items: center;
}
.submenu-link{
  display: block;
  padding: 10px;
  width: 300px;
  position: relative;
  transition: all 0.1s ease;
}
.submenu-link:focus{
  background-color: #3d585f;
  color: white;
}
.submenu-link:not(:last-of-type)::after{
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: #EEEEEE;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .home-gradient{
  background: linear-gradient(180deg, rgba(18,17,17,0) 53%, rgba(18,17,17,0.8197872899159664) 88%);
  }
}
.full-para{
  text-align: justify;
  text-align-last: center;
}