@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.body {
  margin: 0;
  overflow-x: hidden;
}

.main-page {
  background-image: url("../public/bg.jpg");
  background-size: cover;
  width: screen;
  overflow-x: hidden;
  max-width: 100%;
}
.fleche-bout {
  transform: translateX(5px);
  fill: white;
}
.fleche-ligne {
  opacity: 0;
  fill: white;
  transform: translateX(-5px);
}
.fleche-bout,
.fleche-ligne,
.carte {
  transition: all 0.5s ease;
}
.carte:hover {
  transform: scale(1.05);
  cursor: pointer;
  .fleche-bout {
    transform: translateX(5px);
    fill: orange;
}
.fleche-ligne {
    fill: orange;
    opacity: 1;
    transform: translateX(0);
  }
}
.icon-image {
  height: 30px;
  width: 30px;
}

.icon-text {
  text-align: center;
  font-size: 18px;
  color: #3d585f;
}

.group-image {
  background-image: url("../public/photo_equipe_3.jpg");
  background-position: 0% 35%;
  background-size: cover;
}

.page-title-line {
  font-size: 40px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
  position: relative;
}

.page-title-line h2 {
  letter-spacing: 0px;
}

.liste-accueil {
  font-weight: 100;
  letter-spacing: 2px;
}
.liste-accueil li:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .page-title {
    position: relative;
    display: flex;
    width: fit-content;
    text-wrap: nowrap;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
  }
}
.title {
  font-size: 60px;
  font-style: italic;
}

em {
  font-weight: bold;
  font-style: normal;
}
.contact-image {
  width: 55%;
  height: 100%;
  background-image: url("../public/footer.jpg");
  background-size: cover;
  overflow-x: hidden;
  background-position: 30% 35%;

}

.nav-item {
  width: 100px;
  text-align: center;
}

.selector {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #e6964b;
  left: -10px;
  opacity: 0;
  top: -10px;
  transition: all 0.4s ease;
}
